@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  @apply bg-background text-text-primary font-body;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
}